body {
    background-color: #181818;
    color: white;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    width: 100%;
    height: 100%;
    margin: 0;
}
a {
    color: #896ac1;
}
#main {
    width: 90%;
    height: 50%;
    margin: auto;
}
@media (min-width: 720px) {
    #main {
        width: 70%;
    }
}
@media (min-width: 1200px) {
    #main {
        width: 60%;
    }
}
img {
    display: block;
    max-width: 100%;
}

a[href="../"], a.backbutton{
    color: #dad7ff;
    text-decoration: none;
    font-size: 1.2em;
}
.navbar {
    width: 100%;
    padding-left: 1em;
    box-sizing: border-box;
}

.val {
    font-family: "Fira Code", monospace;
}

input[type='number'], input[type='text'] {
    font-size: 100%;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8a8a8a;
    width: 8em;
}
input[type='number']:focus, input[type='text']:focus {
    outline: none;
    border-color: white;
}

table {
    margin-bottom: 1em;
}

td:not(:first-child) {
    padding-left: 0.4em;
}

thead th {
    text-align: unset;
}

ul.links {
    list-style: square;
    padding-left: 0.5em;
    align-content: center;
    font-size: 1.2em;
}
ul.links li:not(:last-child) { margin-bottom: 0.5em; }

#footer {
    width: 100%;
    border-top: 1px dashed #474747;
    box-sizing: border-box;
    padding-left: 1em;
}
